
NEXT_PUBLIC_SUPABASE_URL=https://vjkkfundbxrgcfcivcdy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZqa2tmdW5kYnhyZ2NmY2l2Y2R5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDYxMTkyNDEsImV4cCI6MjA2MTY5NTI0MX0.iLMc1dxl0i_xWwVmbHH-YYWxCD2DIHqJdaT0OeJ5acA
            